@import url('https://fonts.googleapis.com/css?family=Roboto:300,301,400,400i,500,500i');
* {
    margin: 0px;
    padding: 0px;
  
}
h1 {
    font: bold 20px normal, sans-serif;
    text-align: center;

}
h2 {
    font: bold 15px normal, sans-serif;
    

}
h3{
    font: bold 12px normal, sans-serif;
    text-align: left;

}
header, section, footer, aside, nav, article, figure, figcaption, hgroup{
    display: block;    
 }
 body{
    text-align: center;
}
#contenedor {
    width: auto;
    margin:  auto;
    text-align: left;

}
#fila1{
    margin:auto;
    background:#33c3a2;
    padding: 50px 50px 100px 50px;
}
#principal{
    padding: 10px 0px 0px 10px;
    float: left;
    width: 660px;
    margin: 20px 20px 20px 20px;
    border:1px solid rgb(233, 233, 233);
    background-color:#ffffff;
   
}
li{
    list-style:none;
}

#videocurso{
    width:470px;
    margin: 20px 0px 40px 40px;

}
input{
    display:block;
    margin: 5px;
    padding: 10px 150px 10px 150px ;
  
}

#formulario {
    width: 500px;
    margin: 20px 20px 20px 20px;
    background:#ffffff; 
    padding: 50px;
    border:0.2px solid rgb(250, 250, 250);
}
#pie{
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid teal;
    
}
